body {
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 18px;
    color: #222;
}
.lfbtable {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    max-width: 25%;
    width: 25%;
}

.cell > p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

.copy {
    font-size: 1.2rem;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0.63rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0.86rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

